	html, body {
		max-width: 100%;
		overflow-x: hidden;
	}

	*, body{
		margin: 0;
		padding: 0;
		font-family: arial, helvetica, sans-serif;
		font-weight: bold;
	}

	body {
		background-color: #252839;
	}

	a {
		text-decoration: none;
	}

	.main-menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 70px;
		height: 100vh;
		background-color: #0f172a;
		overflow: hidden;
		white-space: nowrap;
		box-shadow: 0px 0px 20px #222f4d;
		transition: .3s ease;
		z-index: 1;
	}

	.main-menu:hover {
		width: 270px;
		overflow-y: scroll;
	}

	.main-menu .menu-item {
		padding: 12px;
		color: white;
		font-size: 20px;
	}

	.main-menu .menu-item:hover {
		background-color: var(--clr);
		cursor: pointer;
		color: #37577d;
	}

	.main-menu .menu-item .fa {
		font-size: 25px;
		width: 40px;
		padding: 10px;
		color: #fff;
	}

.main-menu .menu-item:hover > .fa {
	color: #37577d;
}

section#gameOptions {
	background-color: #304575;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track{
	background: transparent !important;
}

::-webkit-scrollbar-thumb {
	background: #bbbbbb;
	border-radius: 10px;
}
.container {
	width: 100vw;
	justify-content: center;
	flex-direction: row;
	display: flex;
	align-items: center;
	margin-top: 15px;
}

.dist {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

#correctAnswer {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	border: 2px solid white;
	padding: 5px;
	margin-left: 0px;
}

input {
	padding: 2px;
	width:300px;
}

input:disabled {
	color: #fff;
}

.btn {
	display: inline-flex;
	height: 50px;
	padding: 0;
	background-color: var(--clr);
	border: none;
	outline: none;
	border-radius: 5px;
	overflow: hidden;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}

.btn:hover {
	background-color: var(--clr-h);
}
.btn:active {
	background-color: var(--clr-a);
}

#btnAgain, #btnCheckOnMaps {
	visibility: hidden;
}

.button-text, .button-icon {
	display: inline-flex;
	align-items: center;
	padding: 0 24px;
	color: #fff;
	height: 100%;
}

.button-icon {
	font-size: 1.5em;
	background-color: rgba(0,0,0,0.08);
}


h1{
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

label {
	color: white;
	margin-left: 10px;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

.popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 70%;
	max-width: 700px;
	position: relative;
	transition: all 5s ease-in-out;
	background-color: #304575;
}

.popup h2 {
	margin-top: 0;
	text-align: center;
	color: #fff;
	font-family: arial, helvetica, sans-serif;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;	
}

.popup .close:hover {
	color: red;
}

.popup .content {
	overflow: auto;
	color: #fff;
	margin-top: 10px;
}

.popup .content a{
	font-weight: bold;
	text-decoration: underline;
	color: white;
}
.popup .content a:hover{
	color: black;
}

@media screen and (max-width: 700px) {
	.box{
		width: 70%;
	}

	.popup {
		width: 70%;
	}
}

#popup1, #popup2{
	text-align: center;
	z-index: 1;
}

.boxPercent {
	border: 2px solid white;
	width: 80px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: transparent;
	justify-content: center;
	display: flex;
	height: 30px;
}

.boxPercent h3 {
	color: white;
	font-size: 25px;
	margin-top: 1px;
}

.boxDir {
	border: 2px solid white;
	width: 60px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: transparent;
	justify-content: center;
	display: flex;
	height: 30px;
}

.boxDist {
	border: 2px solid white;
	width: 140px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: transparent;
	justify-content: center;
	display: flex;
	height: 30px;
	resize: horizontal;
}

.boxDist h3 {
	color: white;
}

@media screen and (min-width: 730px) {
	.boxDist h3 {
		font-size: 25px;
	}
}

@media screen and (max-width: 729px) and (min-width: 550px) {
	.boxDist h3 {
		margin-top: 5px;
		font-size: 15px;
	}
}

@media screen and (max-width: 549px) {
	.boxDist h3 {
		margin-top: 8px;
		font-size: 10px;
	}
}

.loadbar {
	border: 2px solid white;
	width: 220px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: transparent;
	display: flex;
	height: 30px;
	justify-content: center;
}

.bar {
	margin-left: 5px;
	margin-right: 5px;
}

.countryBar {
	border: 2px solid white;
	width: 350px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: transparent;
	display: flex;
	height: 30px;
	justify-content: center;
}


.countryBar h3 {
	padding-top: 3px;
	color: white;
	font-size: 20px;
	margin-top: 1px;
}

#answer {
	font-size: 20px;
	height: 40px;
	padding-top: 0px;
	padding-left: 25px;
	width: 600px;
	background-color: #304575;
	color: white;
	border: 2px solid white;
	text-align: center;
}

::placeholder {
	color: #d3d3d3;
}

input:focus::placeholder{
	color: transparent;
}

.bi {
	color: white;
	font-size: 30px;
}

.fa-trophy {
	color: white;
	font-size: 30px;
}
